# Editor
.editorconfig
.eslintrc.cjs
.vscode

# Git
.git
.gitignore

# NodeJS
.nvmrc
node_modules

# Docker compose files.
.dockerignore
compose.db.yml
compose.prod.yml
compose.yml
Dockerfile

# Doc
README.md
